@tailwind base;
@tailwind components;
@tailwind utilities;

.audio-progress-bar::-webkit-slider-thumb {
  visibility: hidden;
  -webkit-appearance: none;
}

.audio-progress-bar::-webkit-progress-bar {
  background-color: green;
  -webkit-appearance: none;
}

.audio-progress-bar:hover::-webkit-slider-thumb {
  visibility: visible;
  width: 12px;
  height: 12px;
  border: 1px solid black;
  border-radius: 9999px;
  background-color: white;
  -webkit-appearance: none;
}

.audio-progress-bar::-moz-range-thumb {
  visibility: hidden;
}

.audio-progress-bar:hover::-moz-range-thumb {
  visibility: visible;
  width: 12px;
  height: 12px;
  border: 1px solid black;
  border-radius: 9999px;
  background-color: white;
}